#contactme {
  align-content: center;
  letter-spacing: 5px;
  font:'BebasNeueRegular', sans-serif;
  text-shadow: 1px 1px 4px #333333;
  text-align: center;
  margin-bottom: 0.05em;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;}

input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: sans-serif;
     resize: none;}

#input-submit {
     color: white;
     background: #990033;
     cursor: pointer;
     text-transform: uppercase;
   }

#input-submit:hover {
    background: transparent;
    color: black;
    border-color: #990033;
    border-style: solid;
    border-width: 2px;
    }

#input-message {
      height: 126px;
  }

.left, .right{
  float: left;
  width: 100%;
  margin-bottom: 1em;
}

.right{
  width: 50%;
  display: inline-block;
}

.left{
     margin-right: 2%;
     display: inline-block;
}


@media (max-width: 480px) {
  .halfleft{
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}
